{:deps {:aliases [:dev]}
 :nrepl {:port 9000}
 :builds {:main {:target :browser
                 :output-dir "resources/public/js/main"
                 :asset-path "/js/main"

                 :module-hash-names true
                 :modules {:main {:init-fn decide.client/init
                                  :entries [decide.client]
                                  :depends-on #{:app}}
                           :app {:entries [decide.application]}}
                 ;; guardrails enforcement only during dev
                 :dev {:compiler-options
                       {:external-config {:guardrails {}}
                        :closure-defines {'goog.DEBUG true}
                        #_:warnings #_{:redef false}}}

                 :devtools {:after-load decide.client/refresh
                            :preloads [com.fulcrologic.fulcro.inspect.websocket-preload
                                       decide.development-preload
                                       com.fulcrologic.fulcro.inspect.dom-picker-preload]}}

          :i18n {:target :browser
                 :output-dir "resources/public/js/main"
                 :asset-path "/js/main"

                 :modules {:i18n {:init-fn decide.client/init
                                  :entries [decide.client]}}

                 :compiler-options {:optimizations :whitespace}}

          :test {:target :browser-test
                 :test-dir "resources/public/js/test"
                 :ns-regexp "-test$"
                 ;; required for mocking to work
                 :compiler-options {:static-fns false
                                    :external-config {:guardrails {}}}
                 :devtools {:http-port 8022
                            :http-resource-root "public"
                            :http-root "resources/public/js/test"}}

          :ci-tests {:target :karma
                     :js-options {:js-provider :shadow}
                     :compiler-options {:static-fns false}  ; required for mocking to work
                     :output-to "target/ci.js"
                     :ns-regexp "-test$"}

          :workspaces {:target nubank.workspaces.shadow-cljs.target
                       :ns-regexp "-(test|ws|cards)$"
                       :output-dir "resources/public/workspaces/js"
                       :asset-path "/workspaces/js"
                       :devtools {:preloads [com.fulcrologic.fulcro.inspect.websocket-preload
                                             decide.development-preload]
                                  :http-root "resources/public"
                                  :http-port 8023
                                  :http-resource-root "."}}}}
