#kaocha/v1
    {:tests [{:id :unit
              :ns-patterns ["-test$"]
              :test-paths ["src/test"]
              :skip-meta [:integration]
              :source-paths ["src/main"]}]
     :reporter [kaocha.report/documentation]
     :plugins #profile {:default [:kaocha.plugin/randomize
                                  :kaocha.plugin/filter
                                  :kaocha.plugin/capture-output]
                        :ci [:kaocha.plugin/randomize
                             :kaocha.plugin/filter
                             :kaocha.plugin/capture-output
                             :kaocha.plugin/profiling
                             :kaocha.plugin/junit-xml]}

     :kaocha.plugin.junit-xml/target-file "junit.xml"
     :bindings {kaocha.stacktrace/*stacktrace-filters*
                ["java.lang." "java.util.concurrent."
                 "clojure.test$" "clojure.lang." "clojure.core" "clojure.main"
                 "orchestra." "kaocha."]}}
