{:taoensso.timbre/logging-config {:level :debug}
 :ring.middleware/defaults-config
                                 {:security {:anti-forgery   false
                                             :hsts           true
                                             :ssl-redirect   false
                                             :frame-options  :sameorigin
                                             :xss-protection {:enable? false
                                                              :mode    :block}}}
 :parser                         {:trace? true}
 :db                             {:db/reset? true
                                  :store     {:backend :file
                                              :path    "/tmp/decide"}}}
